.Upper-space {
  padding: 20px;
}

.body_part {
  margin: auto;
  width: 90%;
  /* border: 2px solid #b8b8b8; */
  padding: 10px;
  background-color: #e6e6e6;
}

/* for the coding area */
/* list */
.Program-List {
  /* margin: 2px; */
  /* width: 30%; */
  padding: 1px;
  padding-bottom: 10px;
}

/* Settings */

/* Text */
.mb-3 {
  width: 100%;
  /* border: 2px solid #adadad; */
}

.check-box {
  width: fit-content;
  margin-top: 1%;
  margin-left: 5%;
}


.compile-btn {
  padding-top: 1%;
  margin-left: 85%;
  padding-bottom: 1%;
}

.custom_Input {
  width: 30%;
  padding-top: 2%;
  margin-left: 5%;
  height: 6rem;
  display: inline-block;
  /* for temp */
  /* padding-bottom: 30%; */
}

.block-example {
  width: 60%;
  /* background-color: #eee; */
  display: inline-block;
}

.compilebtn {
  /* margin-left: auto;   */
  float: right;
  padding-top: 1%;
  padding-right: 2%;
  /* margin-right: 0px; */
  /* margin-left: auto; */
}

.last-row {
  width: 95%;
}

.output_Part{
  width: 90%;
  padding-left: 5%;
  padding-top: 1%;
  padding-bottom: 20%;
}